.comp-bar
{
    display: flex;
    flex-direction: column;

    ul
    {
        list-style: none;
        padding: 0;
    }

    li
    {
        padding: 0.2rem .5rem;
    }

    a
    {
        text-decoration: none;
        color: var(--gray-border);
        font-size: 20px;
        font-weight: 800;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        span
        {
            text-align: center;
            width: 65%;
        }
    }
    
    a:hover
    {
        color: black;
    }

    .close-sesion
    {
        margin-top: auto;
        background: transparent;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        padding: 0.8rem 1.5rem;
        cursor: pointer;
    }
}