.comp-user-list
{
    table
    {
        border-collapse: collapse;
        width: 100%;

        th
        {
            background-color: var(--gray-background);
            text-align: left;
            padding: 0.8rem 0.2rem;
            color: var(--dark-gray-text);
            font-weight: 400;
        }

        .text-center
        {
            text-align: center;
        }
    }

}