:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #E4E0E0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gray-transparent: #ffffffdf;
  --gray-text: #565656;
  --light-gray-border: #E0E0E0;
  --gray-border: #A7A7A7;
  --gray-background: #F8F8F8;
  --button-blue: #1D589C;
  --dark-gray-text: #1E1E1E;
  --red: #CB1F1F;
  --green: #25941C;
  --green-light: #7CD374;
  

  box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
}
